<!-- templates/post_detail.html -->
{% extends 'base.html' %}

{% block content %}
    <div class="post-entry">
        <h2>{{ item.pizza.name }}</h2>
        <p>{{ item.pizza.price }}</p>
        <p>{{ item.pizza.weight }}</p>
        <p>{{ item.pizza.size }}</p>
    </div>
    {% if user.is_authenticated and user.id ==  item.creator.id %}
        <!--<a href="{# url 'market:pizza_update' item.id #}" class="btn btn-outline-warning">Изменить</a>-->
        <a href="{% url 'market:pizza_delete' item.id %}" class="btn btn-outline-danger">Удалить</a>
    {% endif %}
{% endblock content %}